.container {
  width: 80%;
  height: 80vh;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.header__title {
  margin-top: 50px;
  font-weight: 800;
  letter-spacing: 0.1em;
  font-size: 45px;
}
